<!DOCTYPE html>
<meta charset='UTF-8'>
<link href="../src/converter.css" rel="stylesheet">
<title>Measurement Converter test page</title>

<p>
    1 1/2 cups pecan or walnut pieces and/or halves (5.3 oz/ 150g)<br>
    Neutral oil for the pans<br>
    1 pound (454g) carrots (about 5 large), coarsely grated (about 3 cups)<br>
    1 cup buttermilk, (8.5 oz / 240g), at room temperature<br>
    1 tablespoon finely grated fresh ginger<br>
    2 teaspoons vanilla extract<br>
    2 1/2 cups all-purpose flour (11.4 oz /325g)<br>
    2 1/2 teaspoons ground cinnamon<br>
    2 teaspoons baking powder (0.28 oz/ 8g)<br>
    2 teaspoons Diamond Crystal kosher salt (0.21 oz / 6g)<br>
    1 teaspoon baking soda (0.21 oz / 6 g)<br>
    1 teaspoon ground ginger<br>
    1/4 teaspoon ground cloves<br>
    4 large eggs (7 oz / 200g), at room temperature<br>
    3/4 cup granulated sugar (5.3 oz / 150g)<br>
    3/4 cup packed dark brown sugar (5.3 oz / 150g)<br>
    1 cup neutral oil, such as vegetable or grapeseed (8 oz / 226g)<br>
    Classic Cream Cheese Frosting, Brown Butter Variation<br>
</p>

<p>
    Whisk the ingredients together on the stove over medium heat. Bring to a simmer and whisk frequently for about 15 to 20 minutes, or until it reaches 236℉. It’s going to stall around 225℉, but keep whisking until it reaches 236℉. <br>
    To end up with the perfect consistency, the caramel needs to be at a temperature of at least 236℉ and no more than 240℉. <br>
    Melt the remaining 6 ounces of chocolate over a double boiler. Dump the chocolate in and stir. Allow it to melt, and do not let it exceed a temperature of 120℉.
</p>

<script src="../lib/he.js"></script>
<script src="../src/converter.js"></script>